<h1>Github Issues</h1>
<div class="my-5 border-b-2 border-blue-600"></div>

<section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2">
<!--  Filtros-->
  <div class="col-span-3 flex flex-col">
    <div class="flex gap-2">
      <button class="btn active">
        All
      </button>
      <button class="btn">
        Open
      </button>
      <button class="btn">
        Closed
      </button>
    </div>
  </div>
<!--  Listado de issues -->
  <div class="mt-4 flex flex-col col-span-2">
    <h3>Issues</h3>
    <!--    Todo: Spinner-->
    @if (IssuesQuery.isLoading()){

    } @else {
      @for (issue of IssuesQuery.data(); track issue.id)
      {
        <issue-item [issue]="issue!" />
      } @empty {
        <p>No hay issues que mostrar</p>
      }
    }

    <!--    Todo: Si no hay issues por el filtro-->
  </div>
<!--  Labels-->
  <div>
    <h3>labels</h3>
    @if (LabelQuery.isLoading()) {
      <p>Estamos cargando</p>
    } @else {
      <issues-labels-selector [labels]="LabelQuery.data() ?? []" />
    }
  </div>

</section>
